<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tabela FIPE API</title>
    <link rel="stylesheet" type="text/css" href="../vendor/css/bootstrap.min.css">
    <script type="text/javascript" src="../vendor/js/angular-1.4.min.js"></script>
    <script type="text/javascript">
        var appFipe = angular.module('fipeTabela', []);
            appFipe.controller('AppMainFipe', ['$scope', '$http', function ($scope, $http) {
                $scope.veiculos = [];
                $scope.alertMSG = {"msg": "", "type": "", "code": ""};

                var loadMarcas = function () {
                    $http({
                        method: 'GET',
                        url: 'php/TabelaFipe.php',
                        params: { getFipe: "marca" }
                    }).then(function (response) {
                        $scope.veiculos = response.data;
                    },
                    function (response) {
                        $scope.alertMSG = {
                            "msg": "Erro ao tentar carrega as marcas dos veículos, atualize a página e tente novamente, obrigado!",
                            "type": false,
                            "code": response.status
                        }
                    });
                };

                //Load the brands
                loadMarcas();
            }]);
    </script>
</head>
<body ng-app="fipeTabela">
    <div class="container" ng-controller="AppMainFipe">
        <header>
            <h1>Tabela FIPE</h1>
        </header>
        <div ng-show="alertMSG.msg.length > 0" class="row">
            <div ng-class="{'alert-danger': alertMSG.type == false}" class="alert">
                {{alertMSG.code + '#' + alertMSG.msg}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="searchmarca">Filtro de marca</label>
                    <input type="search" class="form-control" name="searchMarca" id="searchMarca" placeholder="Digite a marca" ng-model="marca.search">
                </div>
                <div class="form-group">
                    <label for="marca">Marca</label>
                    <select class="form-control" name="marcaCarro" ng-model="veiculo.marca" ng-options="veiculo.id as veiculo.fipe_name for veiculo in veiculos | filter: marca.search">
                        <option value="">Selecione</option>
                    </select>
                    {{veiculo.marca}}
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="modelo">Modelo</label>
                    <select class="form-control" name="modeloCarro" id="modelo-carro" title="Modelo do veículo">
                        <option title="Selecione" value="0">Selecione um veículo</option>
                    </select>
                </div>
            </div>

            <div class="col-md-4">
                <div class="form-group">
                    <label for="ano">Ano</label>
                    <select class="form-control" name="anoCarro" id="ano-carro" title="Ano do veículo">
                        <option title="Selecione" value="0">Selecione o ano</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th>Marca</th>
                        <th>Modelo</th>
                        <th>Ano</th>
                        <th>Valor R$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    <!-- END CONTAINER -->
    </div>
</body>
</html>